[Desktop Entry]
Name=Choose Wallpaper Full
Exec=python /home/ilwan/.config/hypr/scripts/choose-wallpaper.py -f %u
Terminal=false
Type=Application
Icon=/home/ilwan/.local/share/icons/hicolor/96x96/apps/choose-wallpaper.png
Categories=Utility;
NoDisplay=true
